<div class="wrap">
  <div id="icon-options-general" class="icon32"><br /></div>
  <h2>Rbit Nike Plus Plugin</h2>
{% if settings %}
  {% include 'adminpage_form.html.twig' %}
{% else %}
  {% include 'adminpage_form.html.twig' %}
{% endif %}
</div>